/preprocessor/__pycache__

/processed

/source_midis

/processed

*.mid
*.midi
*json
*.pt
*.log

/venv

__pycache__/
/validation_reports
/temp

# PyTorch data splits
/ml_core/data/splits/
/ml_core/logs
